body {
    margin: 0;
    padding: 0;
}

#logo {
    width: 100px;
    height: auto;
    padding: 10px;
}

header {
    height: 754px;
    background-color: #F9F5E9;
}

header nav {
    display: flex;
    justify-content: start;
    position: sticky;
    top: 0;
    gap: 20em;
}

#top-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p{
    color: black;
    font-size: 16px;
}